In [ ]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import urllib.request
import time

In [ ]:
authors = []
dates = []
statements = []
sources = []
targets = []

In [ ]:
#we cerated a function to scrape a website
def scrape_website(page_number):
  page_num = str(page_number)
  URL = 'https://www.politifact.com/factchecks/list/?page='+page_num
  webpage = requests.get(URL)
  soup = BeautifulSoup(webpage.text,'html.parser')
  
  #location 
  statement_footer = soup.find_all('footer', attrs={'class':'m-statement__footer' })# location of author  
  statement_quote = soup.find_all('div', attrs={'class':'m-statement__quote' }) #location of the statement
  statement_meta = soup.find_all('div', attrs={'class':'m-statement__meta' }) #location of the source
  target = soup.find_all('div', attrs={'class':'m-statement__meter' }) # location of the target (score card)



  #made a loop for the statement_footer
  for i in statement_footer:
    link1 = i.text.strip()
    name_and_date = link1.split()
    first_name = name_and_date[1]
    last_name = name_and_date[2]
    full_name = first_name +' ' + last_name
    month = name_and_date[4]
    day = name_and_date[5]
    year = name_and_date[6]
    date = month +' ' + day + ' ' + year
    dates.append(date)
    authors.append(full_name) 


    #we made a loop for the statement_quote
  for i in statement_quote:
    link2 = i.find_all('a')
    statement_text = link2[0].text.strip()
    statements.append(statement_text)


  #we created a loop for the meta
  for i in statement_meta:
    link3 = i.find_all('a')
    source_text = link3[0].text.strip()
    sources.append(source_text)

  #loop for target
  for i in target:
    link4 = i.find('div', attrs = {'class' , 'c-image'}).find('img').get('alt')  
    targets.append(link4)

In [ ]:
#loop for 'n-1' webpages to scrape the data
n = 96

for i in range(1,n):
  scrape_website(i)

In [ ]:
#create the dataframe
data= pd.DataFrame(columns = ['author','statement','source','date', 'target'])
data['author']= authors
data['statement']= statements
data['source'] = sources
data['date'] = dates
data['target'] = targets
data

                  author  ...       target
0     Samantha Putterman  ...        false
1            Paul Specht  ...    half-true
2         Madison Czopek  ...        false
3         Louis Jacobson  ...    half-true
4             Meg Doster  ...  mostly-true
...                  ...  ...          ...
2845          Eric Litke  ...        false
2846     Victoria Knight  ...        false
2847      Ciara O'Rourke  ...        false
2848        Jill Terreri  ...  barely-true
2849      Ciara O'Rourke  ...        false

[2850 rows x 5 columns]

In [ ]:
print(len(authors))

2850

In [ ]:
#created a function to get a binary number
def getBinaryNumTarget(text):
  if text == 'true':
    return 1
  else:
    return 0

In [ ]:
#created a function to get a label 
def getBinaryTarget(text):
  if text == 'true':
    return 'Real'
  else:
    return 'Fake'

In [ ]:
data['Binary'] = data['target'].apply(getBinaryNumTarget)
data['Label'] = data['target'].apply(getBinaryTarget)
data

                  author  ... Label
0     Samantha Putterman  ...  Fake
1            Paul Specht  ...  Fake
2         Madison Czopek  ...  Fake
3         Louis Jacobson  ...  Fake
4             Meg Doster  ...  Fake
...                  ...  ...   ...
2845          Eric Litke  ...  Fake
2846     Victoria Knight  ...  Fake
2847      Ciara O'Rourke  ...  Fake
2848        Jill Terreri  ...  Fake
2849      Ciara O'Rourke  ...  Fake

[2850 rows x 7 columns]

In [ ]:
data.Binary.value_counts()

0    2747
1     103
Name: Binary, dtype: int64

In [ ]:
#data.to_csv('Politifact.csv')